<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Заказы</title>
</head>

<body>
<div th:insert="~{logout-fragment::header}"></div>
<a th:href="@{{contextPath}/cart/items
            (contextPath=${@environment.getProperty('spring.webflux.base-path')})}" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a th:href="@{{contextPath}/main
            (contextPath=${@environment.getProperty('spring.webflux.base-path')})}" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${'Заказ №'+order.id()}" th:href="@{{contextPath}/orders/{id}
            (contextPath=${@environment.getProperty('spring.webflux.base-path')},
            id=${order.id()})}"></a>
            </h2>
            <table>
                <tr th:each="orderItem : ${order.orderItems()}">
                    <td th:text="${orderItem.item().title()+' ('+orderItem.quantity()+' шт.) '+(orderItem.sumPrice())+' руб.'}"></td>
                </tr>
            </table>
            <p>
                <b th:text="${'Сумма: '+order.calculateTotalSum()}+' руб.'"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>